<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847002013531-f74g4tr37k0ns36gddd1659k3gt8tr5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847002013531-f74g4tr37k0ns36gddd1659k3gt8tr5o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>847002013531-jenvacq68jqgdpt66a2p13ggg419b7j4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZPJ-JzcmkcnI0btlmJ2V_mu7Jv3FFAaU</string>
	<key>GCM_SENDER_ID</key>
	<string>847002013531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.splinter.recipetracker</string>
	<key>PROJECT_ID</key>
	<string>recipe-tracker-a3891</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-tracker-a3891.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847002013531:ios:635b3b38d036384138547e</string>
</dict>
</plist>